/* -------- GENERALES ------- */
ul{
  list-style-type: none;
}

.background{
  background-color: #EDEBFF;
  border-radius: 10%
}

h1, h2{
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

h3{
  text-transform: uppercase;
}

#profile-pic img{
  border-radius: 50%;
  width: 90%;
}
/* +++++++   ASIDE  ++++++++ */
aside {
  background-color: #6E6B7D;
  border-radius: 10%;
}

aside * {
  color: white;
}

aside * h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
}

aside section{
  padding: 5%;
}

/* +++++++   HERO  ++++++++ */
main section > h2{
  text-transform: uppercase;
  letter-spacing: 5px;
}

.hero {
  background-color: #6E6B7D;
  box-shadow: 3px 3px 30px 5px #647087 inset;
  padding: 15% 0;
}

main section, main article{
  padding: 5% 0%;
}

article h3,
article h4 {
  font-weight: bold;
}
article ul {
  list-style-type: square;
}

.flex {
  display: flex;
  margin: 0;
}

.flex-aside {
  margin-left: 4%;
  flex-basis: 40%;
  display: flex;
}

.flex-main {
  flex-basis: 40%;
  display: flex;
  margin-left: 7%;
}

.references {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.references article{
  width: 50%
}

.references img{
  width: 100%;
}

dl{
  display: flex;
  flex-wrap: wrap;
}
dd, dt{
  flex-basis: 40%;
  margin: 0;
}

meter {
  display: block;
  width: 70%;

}
meter::-webkit-meter-bar {
  background : none;
  background-color : #DFE4F5;
  box-shadow : 0 2px 5px 0px #333 inset;
}

meter::-webkit-meter-optimum-value {
  background: none;
  background-color: #647087;
  box-shadow: 0 2px 5px 0px #333 inset;
}
